@using FRA.Data.View
@using FRA.Web.Models
@model FRA.Data.View.CategoryView

<form name="form" class="form-validation">
    @await Html.PartialAsync("_ModalHeader", new ModalHeader { Heading = "Add Category" })
    <div class="modal-body form-horizontal userModalForm">
        <div class="row">
            <div class="col-lg-6">
                <div class="form-group userModalForm">
                    <label asp-for="CategoryName" class="col-lg-3 col-sm-3 control-label">Name</label>
                    <div class="col-lg-6">
                        <input id="CategoryName" asp-for="CategoryName" class="form-control" />
                    </div>
                </div>
            </div>

        </div>
    </div>
    @*@await Html.PartialAsync("_ModalFooter", new ModalFooter { })*@
</form>
<div class="modal-footer">
    <button data-dismiss="modal" id="Cancel" class="btn btn-default" type="button">Cancel</button>
    <button class="btn btn-success" id="AddCategory" onclick="AddCategory()">Submit</button>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}