@using FRA.Web.Models
@model FRA.Data.View.RiskTemplateView

<form name="form">
    @await Html.PartialAsync("_ModalHeader", new ModalHeader { Heading = "Add Template" })

    <div class="modal-body userModalForm">
        <!-- Begin Template input -->
        <div class="form">

            <!-- Category list -->
            <div class="form-group row">
                <div class="inlineForm">
                    <div id="categoryList">
                        <label class="textFWith120">Select Category</label>
                        <select class="custom-select textFWith483" id="CategoryId" onchange="getSectionBasedOnCategory()">
                            <option value="Choose" selected="selected">Choose...</option>
                            @foreach (var item in Model.CategoryList)
                            {
                                <option value="@item.Key">@item.Value</option>
                            }

                        </select>
                    </div>
                    
                </div>
            </div>
            <!-- End Category list -->
            <!-- Section list -->
            <div class="form-group row">
                <div class="inlineForm">
                    <div id="sectionList">
                        <label class="textFWith120">Select Section</label>
                        <select class="custom-select textFWith483" id="SectionId">
                            <option selected="selected" value="1">Select Category 1st</option>
                        </select>
                    </div>                    
                </div>
            </div>
            <!-- End Section list -->

            <div class="form-group row">
                <div class="inlineForm">
                    <label asp-for="TempNumber" class="textFWith120"> Number</label>
                    <input id="idTempNumber" asp-for="TempNumber" class="form-control textWith150" />
                </div>
            </div>

            <div class="form-group row">
                <div class="inlineForm">
                    <label asp-for="Impact" class="textFWith120"> Impact</label>
                    <input id="idImpact" asp-for="Impact" class="form-control textWith150" />
                </div>
            </div>

            <div class="form-group row">
                <div class="inlineForm">
                    <label asp-for="Questions" class="textFWith120"> Questions</label>
                    <input id="idQuestions" asp-for="Questions" class="form-control textWith150" />
                </div>
            </div>

            <div class="form-group row">
                <div class="inlineForm">
                    <label asp-for="ControlGuidelines" class="textFWith120"> Guidelines</label>
                    <textarea id="idControlGuidelines" asp-for="ControlGuidelines" class="form-control textWith150" style="height: 110px"></textarea>
                </div>
            </div>

        </div>
        <!-- End Template input -->
    </div>
</form>

<div class="modal-footer">
    <button class="btn btn-success" id="AddTemplate" onclick="AddRiskTemplate()">Submit</button>
    <button id="CancelRisk" class="btn btn-secondary" type="button" onclick="cancelTemplate()">Cancel</button>   
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}