@using FRA.Web.Models
@model FRA.Data.View.SectionView

<form name="form" class="form-validation">
    @await Html.PartialAsync("_ModalHeader", new ModalHeader { Heading = "Add Section" })
    <div class="modal-body form-horizontal userModalForm">
        <div class="row">
            <div class="form-group userModalForm">
                <label asp-for="CategoryList" class="col-lg-3 col-sm-3 control-label">Category List</label>
                <div class="col-lg-6">
                    <select class="old-select" id="oldSelection">
                        @foreach (var item in Model.CategoryList)
                        {
                            <option value="@item.Key">@item.Value</option>
                        }                        
                    </select>

                    <!-- Bouton Select -->
                    <div class="new-select" style="margin-top: 0; margin-bottom: 5px; border: 1px solid #ededf1">
                        <div class="selection" onclick="onSelection()" id="selectionBox">
                            <p style="margin: 0">
                                <span id="selectionBoxSpan" data-categoryid=""></span>
                                <i></i>
                            </p>
                            <span></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group userModalForm">
                <label asp-for="SectionName" class="col-lg-3 col-sm-3 control-label">Name</label>
                <div class="col-lg-6">
                    <input asp-for="SectionName" class="form-control" />
                </div>
            </div>

            

        </div>
    </div>

</form>
<div class="modal-footer">
    <button data-dismiss="modal" id="Cancel" class="btn btn-default" type="button">Cancel</button>
    <button class="btn btn-success" id="AddCategory" onclick="AddSection()">Submit</button>
</div>


@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }       
}