@model FRA.Data.View.RiskTemplateView
<!-- Section list -->
<select class="old-select-section" id="oldSelectionSection">
    @foreach (var item in Model.SectionList)
    {
        <option value="@item.Key">@item.Value</option>
    }
</select>

<!-- Bouton Select -->
<div class="new-select-section RiskComboBoxCustom" id="newSelectSection">
    <div class="selection" onclick="onSelectionSection()" id="selectionBoxSection">
        <p style="margin: 0; white-space: nowrap">
            <span id="selectionBoxSpanSection"></span>
            <i></i>
        </p>
        <span></span>
    </div>
</div>
<!-- End Section list -->
