@model FRA.Data.View.RiskTemplateView

<label class="textFWith120">Select Section</label>
<select class="custom-select textFWith483" id="SectionId">
    @foreach (var item in Model.SectionList)
    {        
        if (Model.FirstSectionRecordId == item.Key)
        {                                    
            <option selected="selected" value="@item.Key">@item.Value</option>
        }
        else
        {
            <option value="@item.Key">@item.Value</option>
        }
    }
</select>
