<div class="row relativeFromBoxMid">
    <div class="wrapper-md">
        <div class="panel panel-default OverridePannelButtomMargin">
            <div class="table-responsive">
                <table id="section-table" style="width: 100%">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Category</th>
                            <th>Section</th>
                            <th>Commands</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>ID</th>
                            <th>Category</th>
                            <th>Section</th>
                            <th>Commands</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="row relativeFromBox2Buttom">
    <div class="topUserDiv alignRightButtomDiv">
        <a id="createNewData" data-toggle="modal" data-target="#modal-section" data-backdrop="static" data-keyboard="false" class="btn btn-lg btn-default" onclick="getViewForAddSection()"><i class="glyphicon glyphicon-user"></i> New Record</a>
    </div>
</div>
<br/>