@using FRA.Data.View
@using FRA.Web.Models
@model CategoryView

<form name="form">
    @await Html.PartialAsync("_ModalHeader", new ModalHeader { Heading = "Add Category" })

    <div class="modal-body userModalForm">
        <!-- Begin Category input -->
        <div class="form">

            <div class="form-group row">
                <div class="inlineForm">
                    <label asp-for="CategoryName" class="textFWith120"> Name</label>
                    <input id="idCategoryName" asp-for="CategoryName" class="form-control textWith150" />
                </div>
            </div>

        </div>
        <!-- End Category input -->
    </div>

</form>
<div class="modal-footer">
    <button class="btn btn-success" id="AddUser" onclick="addCategory()">Submit</button>
    <button id="Cancel" class="btn btn-secondary" type="button" onclick="cancelCategory()">Cancel</button>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}