@using FRA.Data.Models
@using FRA.Web.Models
@model Catergory

<form role="form">
    <input type="hidden" asp-for="CategoryID" />

    @await Html.PartialAsync("_ModalHeader", new ModalHeader { Heading = "Delete Category" })

    <div class="modal-body">
        Are you sure you want to delete <b>@Model.CategoryName</b>?
    </div>

</form>

<div class="modal-footer">
    <button class="btn btn-success" id="deleteUser" onclick="deleteCategory()">Submit</button>
    <button id="Cancel" class="btn btn-secondary" type="button" onclick="cancelCategory()">Cancel</button>
</div>