@using FRA.Web.Infrastructure.Custom
@using FRA.Web.Models
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>

    <environment include="Development">

        <link rel="stylesheet" href="~/lib/bootstrap-V4/css/bootstrap.css" />
        @*<link rel="stylesheet" href="~/css/ComboBox.css" />
        <link rel="stylesheet" href="~/css/ComboBoxSection.css" />
        <link rel="stylesheet" href="~/css/ComboBoxCategory.css" />*@

        @*<link rel="stylesheet" href="~/css/site.css" />*@
        <link rel="stylesheet" href="~/css/Login.css" />
        <link rel="stylesheet" href="~/css/Main.css" />
        <link rel="stylesheet" type="text/css" href="~/css/accordion.css" asp-append-version="true" />
        <link rel="stylesheet" type="text/css" href="~/css/bootstrap-datepicker3.css" asp-append-version="true" />

    </environment>

</head>
<body class="ImgBodyMain">


<partial name="_CookieConsentPartial" />

<div class="container2">
    @RenderBody()
    
</div>


<environment include="Development">
    <script type="text/javascript" src="~/lib/jquery/dist/jquery.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/js/popper.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/lib/bootstrap-V4/js/bootstrap.min.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/js/decimalAdjust.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/js/bootstrap-datepicker.js" asp-append-version="true"></script>
</environment>

@RenderSection("Scripts", required: false)
@RenderSection("Css", required: false)
</body>
</html>
