@using FRA.Web.Models
@model ModalHeader

<div class="modal-header">
    <h4 class="modal-title" style="color: #bc8b0a; font-weight: 900">@Model.Heading</h4>
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
