@{
    ViewData["Title"] = "Privacy Policy";
}
<h2>@ViewData["Title"]</h2>

<p>Use this page to detail your site's privacy policy.</p>

@using FRA.Web.Infrastructure.Custom
@using FRA.Web.Models

@{
    ViewData["Title"] = "Settings User";
}

@section Css {
    @{ await Html.RenderPartialAsync("_DataTablesStylesPartial"); }
}

<div class="ImgLogoLogin"></div>
<div class="ImgTopLogin"></div>
<div>
    <div class="ImgBodyMain"></div>

    <div class="containerMenu">
        <div id="sidebar" style="z-index: 1;">
            <ul>
                <li><a href="~/home/index" >Home</a></li>
                <li><a asp-area="administration" asp-controller="RiskSetting" asp-action="Index">Risk Settings</a></li>
                <li><a asp-area="administration" asp-controller="Users" asp-action="Index">User Settings</a></li>
                <li><a asp-controller="" asp-action="">Risk Management</a></li>
            </ul>
        </div>
        <div class="main-content">
            <a href="#" data-toggle=".containerMenu" id="sidebar-toggle" style="color: white">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
                <span id="buttonHome" style="position: absolute; top: 2px; left: 30px; font-size: x-large;">Open</span>
            </a>
        </div>
    </div>

    <div class="centeredBG Opacity70">
        <div class="row relativeFromBoxTop">
            <div class="topUserDiv alignLeftTopDiv fontUser">
                System Users
            </div>
            <div class="topUserDiv alignRightTopDiv">
                <a id="createEditUserModal1" data-toggle="modal" asp-action="AddUser" data-target="#modal-action-user" data-backdrop="static" data-keyboard="false" class="btn btn-lg btn-default"><i class="glyphicon glyphicon-user"></i>  Create New User</a>
            </div>
        </div>

        <div class="row relativeFromBoxMid">
            <div class="wrapper-md">
                <div class="panel panel-default OverridePannelButtomMargin">
                    <div class="table-responsive">
                        <table id="users-table" style="width: 100%">
                            <thead>
                            <tr>
                                <th>Email</th>
                                <th>Full Name</th>
                                <th>Organization</th>
                                <th>Phone Number</th>
                                <th>Is Locked</th>
                                <th>Locked Until</th>
                                <th>Commands</th>
                            </tr>
                            </thead>
                            <tfoot>
                            <tr>
                                <th>Email</th>
                                <th>Full Name</th>
                                <th>Organization</th>
                                <th>Phone Number</th>
                                <th>Is Locked</th>
                                <th>Locked Until</th>
                                <th>Commands</th>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="row relativeFromBox2Buttom">
            <div class="topUserDiv alignRightButtomDiv">
                <a id="createEditUserModal2" data-toggle="modal" data-target="#modal-action-user" data-backdrop="static" data-keyboard="false" class="btn btn-lg btn-default" onclick="getViewForAddUser()"><i class="glyphicon glyphicon-user"></i> Create New User</a>
            </div>
        </div>
    </div>

    <div tabindex="-1" class="modal fade" id="modal-action-user-edit" role="dialog" aria-hidden="true" aria-labelledby="modal-action-user-label">
        <div class="modal-dialog ">
            <div class="modal-content" id="modal-content-editUser">

            </div>
        </div>
    </div>

    <div tabindex="-1" class="modal fade" id="modal-action-user" role="dialog" aria-hidden="true" aria-labelledby="modal-action-user-label">
        <div class="modal-dialog ">
            <div class="modal-content" id="modal-content-addUser">

            </div>
        </div>
    </div>

</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_DataTablesScriptsPartial"); }
    <script type="text/javascript" src="~/js/UserIndex.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/js/MainPage.js" asp-append-version="true"></script>
}



