@using FRA.Data.Models
@model Document

<div class="modal-header">
    <h4 class="modal-title" style="color: #bc8b0a; font-weight: 900">Downloading Document</h4>
</div>

<form role="form">
    <input type="hidden" asp-for="DocId" />
    <input type="hidden" asp-for="RiskAssessmentID" />

    <div class="modal-body">
        <div id="deleteMessage" style="display: inline">
            File download information
            <br />
            Document: <b>@Model.DocumentName</b>
            <br />
            File: <b>@Model.FileName</b>
            <br />
            <br />
            Save to: <b>@Model.DownloadLocation</b>
            <br />
        </div>

        <div class="form-group row" style="margin-top: 20px;">
            <div id="loader">

                <ul class="loading">
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
                <br />
                <label style="margin-left: 10px">Please wait while file is being download, this form will automatically close once job is finish</label>
            </div>
        </div>

    </div>

</form>

<div id="modelFooterControl" style="display: inline">
    <div class="modal-footer">
        @*<button class="btn btn-success" id="deleteContactPerson" onclick="deleteDocument()">Submit</button>
        <button id="Cancel" class="btn btn-secondary" type="button" onclick="ClearRiskDetailDOM()">Cancel</button>*@
    </div>
</div>

