@using FRA.Data.View
@using FRA.Web.Models
@model FRA.Data.View.RiskAssessmentView

<form name="form">
    @await Html.PartialAsync("_ModalHeader", new ModalHeader { Heading = "Edit Risk Assessment" })
    <div class="modal-body riskModalForm">
        <!-- Begin Risk input -->
        <div style="margin: 0 auto; width: 948px;">
            <input type="hidden" asp-for="RiskAssessmentID" />
            <div class="form">
                <!-- Begin Intro input -->
                <div class="form-group row minusMargin10">
                    <div class="labelHR">
                        <h2>Introduction</h2>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="inlineForm">
                        <label asp-for="SubjectTitle" class="textFWith110">Subject</label>
                        <input id="SubjectTitle" asp-for="SubjectTitle" class="form-control textWith100"/>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="inlineForm">
                        <label asp-for="Organization" class="textFWith110">Organization</label>
                        <input asp-for="Organization" id="Organization" class="form-control textFWith400"/>

                        <label asp-for="EntryDate" class="textFWith110">Date</label>
                        <div id="date-container1" style="width: 300px">
                            <div class="input-group date">
                                <input asp-for="EntryDate" type="text" id="EntryDate" class="form-control textFWith300"><span class="input-group-addon dateButton"><i class="fal fa-calendar-alt" style="font-size: 25px"></i></span>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="form-group row">
                    <div class="inlineForm">
                        <label asp-for="Owner" class="textFWith110">Owner</label>
                        <input asp-for="Owner" id="Owner" class="form-control textFWith400"/>

                        <label asp-for="DocumentNo" class="textFWith110">Document No</label>
                        <input asp-for="DocumentNo" id="DocumentNo" class="form-control textFWith300"/>
                    </div>
                </div>
                <!-- End Intro input -->
                <!-- Begin Site Surveyor input -->
                <div class="form-group row minusMargin10">
                    <div class="labelHR">
                        <h2>Site Surveyor Information</h2>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="inlineForm">
                        <label asp-for="SurveyorName" class="textFWith110">Name</label>
                        <input asp-for="SurveyorName" id="SurveyorName" class="form-control textFWith400"/>

                        <label asp-for="SurveyorTelephone" class="textFWith110">Telephone #</label>
                        <input asp-for="SurveyorTelephone" id="SurveyorTelephone" class="form-control textFWith300"/>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="inlineForm">
                        <label asp-for="SurveyorEmail" class="textFWith110">Email</label>
                        <input asp-for="SurveyorEmail" id="SurveyorEmail" class="form-control textFWith400"/>

                        <label asp-for="SurveyDate" class="textFWith110">Date </label>
                        <div id="date-container2" style="width: 300px">
                            <div class="input-group date">
                                <input asp-for="SurveyDate" id="SurveyDate" class="form-control textFWith300"/><span class="input-group-addon dateButton"><i class="fal fa-calendar-alt" style="font-size: 25px"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Site Surveyor input -->
                <!-- Begin Site location address input -->
                <div class="form-group row minusMargin10">
                    <div class="labelHR">
                        <h2>Site Location and Address</h2>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="inlineForm">
                        <label asp-for="SiteName" class="textFWith110">Site </label>
                        <input asp-for="SiteName" id="SiteName" class="form-control textWith100"/>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="inlineForm">
                        <label asp-for="SiteCountry" class="textFWith110">Country </label>
                        <input asp-for="SiteCountry" id="SiteCountry" class="form-control textWith100"/>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="inlineForm">
                        <label asp-for="SiteAdress" class="textFWith110">Address </label>
                        <input asp-for="SiteAdress" id="SiteAdress" class="form-control textWith100"/>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="inlineForm">
                        <label asp-for="SiteStateProvince" class="textFWith110">State/Province</label>
                        <input asp-for="SiteStateProvince" id="SiteStateProvince" class="form-control textWith100"/>
                    </div>
                </div>
                <!-- End Site location address input -->
                <!-- Begin Site Contact Person input -->
                <div class="form-group row minusMargin10">
                    <div class="labelHR">
                        <h2>Site Contact Person</h2>
                        <div style="color: red">
                            Note: contact information inputed here is primary cotact person, additial contact information can ba add later.
                        </div>
                    </div>

                </div>

                <div class="form-group row">
                    <div class="inlineForm">
                        <label asp-for="ContactPersonName" class="textFWith110">Name</label>
                        <input asp-for="ContactPersonName" id="ContactPersonName" class="form-control textFWith400"/>

                        <label asp-for="ContactPersonEmail" class="textFWith110">Email</label>
                        <input asp-for="ContactPersonEmail" id="ContactPersonEmail" class="form-control textFWith300"/>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="inlineForm">
                        <label asp-for="ContactPersonTelephone" class="textFWith110">Telephone</label>
                        <input asp-for="ContactPersonTelephone" id="ContactPersonTelephone" class="form-control textFWith400"/>

                        <label asp-for="ContactPersonFaxNumber" class="textFWith110">Fax Number</label>
                        <input asp-for="ContactPersonFaxNumber" id="ContactPersonFaxNumber" class="form-control textFWith300"/>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="inlineForm">
                        <label asp-for="ContactPersonWebsiteUrl" class="textFWith110">Website URL</label>
                        <input asp-for="ContactPersonWebsiteUrl" id="ContactPersonWebsiteUrl" class="form-control textWith100"/>
                    </div>

                </div>
                <!-- End Site Contact Person input -->
            </div>

        </div>
        <!-- End Risk input -->
    </div>

</form>
<div class="modal-footer">
    <button class="btn btn-success" id="AddRiskAssessment" onclick="AddRiskAssessment()">Submit</button>
    <button data-dismiss="modal" id="Cancel" class="btn btn-secondary" type="button">Cancel</button>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
