@using FRA.Web.Areas.Administration.Models
@using FRA.Web.Models
@model FRA.Web.Areas.Administration.Models.EditUserViewModel

<form name="form">
    @await Html.PartialAsync("_ModalHeader", new ModalHeader { Heading = "Edit User" })

    <div class="modal-body userModalForm">
        <input type="hidden" asp-for="Id" />
        <input type="hidden" asp-for="Email" />
        
        <div class="form">

            <div class="form-group row">
                <div class="inlineForm">
                    <label asp-for="FirstName" class="textFWith120">First Name</label>
                    <input id="idFirstName" asp-for="FirstName" class="form-control textWith150" />
                </div>
            </div>

            <div class="form-group row">
                <div class="inlineForm">
                    <label asp-for="LastName" class="textFWith120">Last Name</label>
                    <input id="idLastName" asp-for="LastName" class="form-control textWith150" />
                </div>
            </div>

            <div class="form-group row">
                <div class="inlineForm">
                    <label asp-for="PhoneNumber" class="textFWith120">Phone Number</label>
                    <input id="idPhoneNumber" asp-for="PhoneNumber" class="form-control textWith150" />
                </div>
            </div>

            <div class="form-group row">
                <div class="inlineForm">
                    <label asp-for="Address" class="textFWith120">Address</label>
                    <input id="idAddress" asp-for="Address" class="form-control textWith150" />
                </div>
            </div>

            <div class="form-group row">
                <div class="inlineForm">
                    <label asp-for="LockoutEnabled" class="textFWith120">Lockout </label>
                    <input id="idLockoutEnabled" asp-for="LockoutEnabled" class="form-control textWith150" type="checkbox"/>
                </div>
            </div>
            
        </div>
    </div>    
</form>
<div class="modal-footer">
    <button class="btn btn-success" id="AddEdit" onclick="">Submit</button>
    <button id="Cancel" class="btn btn-secondary" type="button" onclick="cancelUser()">Cancel</button>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }    
}