@using FRA.Web.Models
@model FRA.Data.View.SectionView

<form name="form">
    @await Html.PartialAsync("_ModalHeader", new ModalHeader { Heading = "Add Section" })

    <div class="modal-body userModalForm">
        <!-- Begin Section input -->
        <div class="form">

            <div class="form-group row">
                <div class="inlineForm">
                    <label class="textFWith120">Select Category</label>
                    <select class="custom-select textWith150" id="CategoryId">
                        @foreach (var iCategory in Model.CategoryList)
                        {
                            <option value="@iCategory.Key">@iCategory.Value</option>
                        }
                    </select>
                </div>
            </div>

            <div class="form-group row">
                <div class="inlineForm">
                    <label asp-for="SectionName" class="textFWith120"> Name</label>
                    <input id="idSectionName" asp-for="SectionName" class="form-control textWith150" />
                </div>
            </div>

        </div>
        <!-- End Section input -->
    </div>

</form>
<div class="modal-footer">
    <button class="btn btn-success" id="AddUser" onclick="AddSection()">Submit</button>
    <button id="Cancel" class="btn btn-secondary" type="button" onclick="cancelSection()">Cancel</button>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}